@import "../../../styles/theme.scss";

.inputs_container {
  display       : flex;
  flex-direction: column;
  align-items   : stretch;
  padding       : 0.5em;
  min-width: 0;
  flex: 1 1;
  .wrapper {
    position      : relative;
    display       : flex;
    flex-direction: column;
    align-items   : stretch;

  }

  &.fill {
    flex: 1;
  }

  &.as_popup {
    position: relative;
  }

  .clear_btn {
    position   : absolute;
    right      : 15px;
    padding    : 3px;
    cursor     : pointer;
    height     : 100%;
    display    : flex;
    align-items: center;
  }


  label {
    color: $font-dark;

    &.sm_label {
      font-size: $font-sm;
    }
  }


  &.slim {
    font-size: 0.8em;

    .textbox {
      padding: 1.1em 0.8em;
    }

    .timepicker {
      padding: 1.1em 0.8em;
    }
  }

  .textbox {
    flex         : 8 0 auto;
    background   : none;
    border       : none;
    height       : 2em;
    padding      : 1.3em 0.8em;
    border-radius: 0.2em;
    border       : $form-control-border;

    transition      : $smooth-glide;
    font-size       : 1em;
    // border-bottom: 1px solid rgba(34, 34, 34, 0.15);

    &:focus {
      outline: none;
      border : 1px solid $primary-btn-color;
    }

    &.translucent {
      background: $input-dark;
    }

    &.greyed {
      background-color: $input-light;
    }

    &.no_border {
      border: 1px solid transparent;

      &:focus {
        outline: none;
        border : 1px solid $primary-btn-color;
      }
    }
  }

  .text_area {
    flex   : 1;
    display: flex;

    &.greyed {
      background-color: $input-light;
    }

    textarea {
      border-radius   : 0.5em;
      // border       : 1px solid transparent;
      transition      : $smooth-glide;
      font-size       : 1em;
      border          : 1px solid rgba(34, 34, 34, 0.15);

      flex          : 1;
      padding       : 4px;
      // background : transparent;
      line-height   : 1.5;
      resize        : none;
      font-size     : $font_size;
      font-family   : $font;
      // border     : none;

      &:focus {
        outline: none;
      }


    }

    .dummy {
      visibility   : hidden;
      // min-height: 2em;
      width        : calc(100% - 25px);
      font-size    : $font_size;
      font-family  : $font;
      //font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
      line-height  : 1.5;
      padding      : 4px;
      word-break   : break-all;
    }
  }

  p.field_err {
    color           : crimson;
    font-size       : $font-sm;
    margin          : 0;
    // text-align   : right;
  }

  .btns_container {
    flex: 2 0 auto;

    .btn_holder {
      max-width : 36px;
      max-height: 36px;
    }
  }

  .timepicker {
    // height       : 2em;
    // background   : $input-light;
    // padding      : 0.1em 0.7em;
    // border-radius: 0.5em;
    // border       : 1px solid transparent;
    display    : flex;
    align-items: center;

    flex         : 8 0 auto;
    background   : none;
    border       : none;
    height       : 2em;
    padding      : 1.3em 0.8em;
    border-radius: 0.2em;
    border       : $form-control-border;

    transition: $smooth-glide;
    font-size : 1em;

    &.comapct {
      width     : 100px;
      align-self: center;
      text-align: center;
    }

  }

  .date_popup_container {
    position  : absolute;
    left      : 7px;
    display   : inherit;
    z-index   : 25;
    min-height: 280px;
    bottom    : -275px;

    &.with_time {
      min-height: 330px;
      bottom    : -325px;
    }
  }


  .mid_text_section {
    display       : flex;
    flex-direction: column;
    align-items   : flex-start;

    label+span {
      color     : $font-light;
      font-size : $font-sm;
      margin-top: 2px;
      &.danger{
        color:crimson;
      }
    }
  }

  .right_addon_section {
    display: flex;
    flex: 1 1 50px;
    justify-content: flex-end;
    align-items: center;

    span{
      font-size: 1.5em;
    }
    &.primary_addon {
      >span{
        color: $planckly_blue;
      }
    }
  }
}
