@import "../../styles/theme.scss";

.timer_wrapper {
    text-align      : center;
    background      : orangered;
    color           : black;

    position        : sticky;
    top             : 0;
    z-index         : 1;
    transition      : $smooth-glide all;
    transform       : scaleY(0);
    transform-origin: top;

    &.warn{
        background: dodgerblue ;
        color: white;
    }

    &.show {
        transform: scaleY(1);
        padding  : 0.5em;
    }

}