@import '../../../styles/theme.scss';

.quick_action {
    padding        : 0.3em 1em;
    display        : flex;
    justify-content: center;
    align-items    : center;
    text-align     : center;

    cursor: pointer;

    background       : $primary-btn-color;
    mix-blend-mode   : normal;
    box-shadow       : 0px 4px 4px rgba(0, 0, 0, 0.25);
    // border-radius : 30px;
    margin           : 0 0.2em;
    transition       : $linear;
    color            : white;
    text-transform   : uppercase;
    border-radius    : 5px;

    &.flat {
        box-shadow: none;
    }

    a {
        text-decoration: none;
        color          : inherit;
    }

    &:hover {
        filter: brightness(1.20);
    }

    &:active {
        filter: brightness(0.8);
    }

    &.hollow {
        background-color   : transparent;
        color              : inherit;
        // border          : 1px solid $primary-btn-color;
        box-shadow         : 0px 0px 3px 0px $primary-btn-color;
    }

    &.no_border {
        box-shadow: none;
        border    : none;
    }
    &.for_input {
        margin: 8px 0;
    }

    &.no_pointer {
        cursor: default;
    }
}

.slim {
    padding: 0.2em 1em;
}

.fat {
    padding      : 0.5em 1.5em;
    border-radius: 0.5em;
    height: 40px;

}

@media only screen and (max-width: 1280px) {
    .fat {
        padding      : 0.5em 1em;
        border-radius: 0.5em;

    }
}

.fill {
    flex: 1;
}

.primary {
    background-color: $green-btn-color;
    color           : white;

    &.hollow {
        background-color   : transparent;
        color              : inherit;
        // border          : 1px solid $secondary-btn-color;
        box-shadow         : 0px 0px 3px 0px $green-btn-color;
    }
}


.secondary {
    background-color: $secondary-btn-color;
    color           : white;

    &.hollow {
        background-color   : transparent;
        color              : inherit;
        // border          : 1px solid $secondary-btn-color;
        box-shadow         : 0px 0px 3px 0px $secondary-btn-color;
    }
}

.tertiary {
    background-color: $tertiary-btn-color;
    color           : white;

    &.hollow {
        background-color   : transparent;
        color              : inherit;
        // border          : 1px solid $tertiary-btn-color;
        box-shadow         : 0px 0px 3px 0px $tertiary-btn-color;
    }

}

.danger {
    background-color: crimson;
    color           : white;
}


.inactive {
    background-color: $font-light;
}

.disabled {
    // pointer-events: none;
    cursor: not-allowed;
    // filter: grayscale(100%) !important;
    background-color: $font-light !important;

    &.checkbox {
        opacity         : 0.6;
        background-color: $input-dark;
    }
    &.radio {
        opacity         : 0.6;
        background-color: $input-dark;
    }
}


.btn_long {
    padding: 0.5em 2em;
}

.btn_sml {
    font-size: smaller;
}

.nav_btn {
    width        : 36px;
    height       : 36px;
    border       : 1px dashed $primary-btn-color;
    border-radius: 2em;
    display      : flex;

    a,
    a.span {
        flex           : 1 0 auto;
        display        : flex;
        justify-content: center;
        align-items    : center;

        svg {
            width: 18px;
            color: white;
        }
    }

    &.active {
        border          : 1px solid white;
        background-color: white;

        a {
            svg {
                color: $primary-btn-color;
            }
        }
    }
}

.explore_btn {
    img {
        width                    : 36px;
        animation                : spin 25s infinite;
        animation-timing-function: linear;

    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.label_control {
    display         : flex;
    align-items     : center;
    background-color: $input-light;
    border-radius   : 0.5em;
    color           : gray;
    padding-right   : 1em;

}

.radio {
    height          : 2em;
    width           : 2em;
    border-radius   : 2em;
    border          : 1px solid $primary-btn-color;
    background-color: white;
    display         : flex;
    justify-content : center;
    align-items     : center;
    margin          : 0.3em;
    margin-right    : 0.6em;

    &.small {
        height: 1.4em;
        width : 1.4em;
    }

    >div {
        height       : 1.5em;
        width        : 1.5em;
        background   : $primary-btn-color;
        border-radius: 2em;
        transform    : scale(0);
        transition   : $smooth-glide;
    }

    &.on {
        >div {
            transform: scale(1);
        }
    }

    &.horizontal {
        flex-direction: row;
    }
}

.radio_container {
    display    : flex;
    align-items: center;
}

.checkbox {
    height             : 1.5em;
    width              : 1.5em;
    // border-radius   : 10px;
    border             : 1px solid $primary-btn-color;
    background-color   : white;
    display            : flex;
    justify-content    : center;
    align-items        : center;
    margin             : 0.3em;
    margin-right       : 0.6em;


    >div {
        height             : 1.2em;
        width              : 1.2em;
        background-color   : $primary-btn-color;
        // border-radius   : 10px;
        transform          : scale(0);
        transition         : $smooth-glide;
        display            : flex;
        justify-content    : center;
        align-items        : center;
        color              : white;
    }

    &.check_on {
        >div {
            transform: scale(1);
        }
    }
}

.print_btn {
    background    : #f5f5f5;
    box-shadow    : 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius : 5px;
    color         : #50555c;
    font-family   : Arial, Helvetica, sans-serif;
    font-style    : normal;
    font-weight   : 500;
    font-size     : 15px;
    line-height   : 150%;
    padding       : 5px 1rem;
    border        : none;
    outline       : none;
    text-transform: uppercase;
    margin        : 10px;
}

.bannerBtnWrapper {

    position       : absolute;
    top            : 3.5em;
    left           : 0;
    width          : 100%;
    display        : flex;
    justify-content: center;

    .bannerBtn {
        margin                 : 1em;
        padding                : 0.5em 1em;
        background             : crimson;
        color                  : white;
        font-weight            : bold;
        border-radius          : 0.4em;
        border-top-left-radius : 0;
        border-top-right-radius: 0;
        cursor                 : default;

        >span.clickable{
            cursor: pointer;
        }
    }
}

.btn_tooltip_wrapper{
    display: flex;
    position: relative;
}