@import '../../../styles/theme.scss';

.modal_wrapper {
    position        : fixed;
    top             : 0;
    left            : 0;
    height          : 100%;
    width           : 100%;
    z-index         : 300;
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: rgba(0, 0, 0, 0.35);
    animation       : fadeIn 0.3s ease-out;

    >.modal_positioner {
        height     : calc(100vh - 100px);
        position   : absolute;
        top        : 0;
        display    : flex;
        align-items: center;

        @media only screen and (max-width:1280px) {
            height        : 100vh;
            // width         : 100%;
            // padding-top: 100px;
        }
    }

    &.full {
        align-items: stretch;
        position   : fixed;
        // &.fixed{
        // }

        .modal_container {
            margin    : 0.5em;
            flex      : 1;
            max-height: calc(100vh - 100px);

            .body {
                flex      : 1 0 auto;
                padding   : 0 0.2em;
                max-height: calc(100vh - 6.5em);
                display   : flex;
            }
        }
    }

    &.wide {
        .modal_positioner {
            width          : 100%;
            display        : flex;
            justify-content: center;
        }

        .modal_container {
            width: 80%;
        }
    }

}

.modal_container {
    background-color: white;
    box-shadow      : 0px 3px 15px 0px rgba(0, 0, 0, 0.75);
    margin          : 1em;
    margin-top      : 4em;
    display         : flex;
    flex-direction  : column;
    min-width       : 0;

    @media only screen and (max-width:700px) {
        margin-top    : 0;
        // padding-top: 100px;
    }

    .header {
        // height          : 20px;
        display        : flex;
        align-items    : center;
        justify-content: center;
        padding        : 0.5em;
        padding-right  : 60px;
        padding-left  : 60px;
        color          : white;
        background     : $shell-color;
        font-size      : 1.3em;
        position       : relative;

        >.close {
            width   : 20px;
            position: absolute;
            right   : 20px;
        }
    }

    .body {
        // padding   : 1em 0;
        max-height: 70vh;
        overflow  : auto;
    }

    .footer {
        height         : 20px;
        display        : flex;
        align-items    : center;
        justify-content: center;
        padding        : 0.5em 0;
        margin         : 0.5em 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity  : 0;
        transform: scale(1.03);
    }

    50% {
        opacity  : 0;
        transform: scale(1.03);
    }

    100% {
        opacity  : 1;
        transform: scale(1);
    }
}