@import '../../../styles/theme.scss';

@media (prefers-reduced-motion: no-preference) {
    .loader_spin {
        animation: loader-img-spin infinite 3s linear;

        &.slow {
            animation: none;
        }
    }
}

@keyframes loader-img-spin {
    from {
        transform: rotate(0deg);
        //filter: hue-rotate(0deg);
    }

    to {
        transform: rotate(360deg);
        //filter: hue-rotate(360deg);
    }
}

.loader_container {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex           : 1 0 auto;
    fill           : $shell-color;
    margin         : 0 5px;

    &.no_fill {
        fill: inherit
    }
    &.white {
        fill : white;
    }
    &.full{
        height:100vh;
    }

    .loader_spin {
        height         : 48px;
        width          : 48px;
        pointer-events : none;
        display        : flex;
        justify-content: center;
        align-items    : center;

        svg {
            flex: 1 0 auto;
        }

        &.smaller {
            height: 18px;
            width : 18px;
        }

        &.small {
            height: 24px;
            width : 24px;
        }

        &.full {
            height: 150px;
            width : 150px;
        }
    }
}

.nothing_to_see {
    display        : flex;
    justify-content: center;
    align-items    : center;

    &.full {
        height: 100%;
        // flex  : 1;
    }

    img {
        height: 170px
    }
}