@import url('https://fonts.googleapis.com/css2?family=Krub:wght@300;400;500&display=swap');

$font : 'Krub',
sans-serif;
$font_size          : 1em;
$font-dark          : #515151;
$font-light         : #7c7c7c;
$font-sm            : 0.8em;
$form-control-border: 1px solid #c4c4c4;


$smooth-glide      : 0.3s cubic-bezier(0, 0.71, 0.04, 1.12);
$smooth-glide-slow : 1s cubic-bezier(0, 0.71, 0.04, 1.12);
$smooth-glide-mid  : 0.4s cubic-bezier(0.41, -0.53, 0.26, 1.23);
$linear            : 0.2s linear;
$ee                : cubic-bezier(0, 0.55, 0.26, 1.49) 0.1s;

$background-dark    : hsla(0, 0%, 27%, 1);
$mch-color          : #42c0cd;
// $shell-color-alt : linear-gradient(97.14deg, #0B0DB5 10.27%, #235DD9 54.81%, #1B20D7 94.4%);
$shell-color-alt    : #213550;

$white-translucent : hsla(0, 0%, 100%, 0.815);
$shell-color       : $shell-color-alt;
$planckly_blue     : #2C338A;


$menu-color                 : #fdfaf4b7;
$back-blur                  : blur(20px);
$banner-info                : #007df271;
$banner-caution             : #A61DE7;
$banner-caution-translucent : #a61de782;



$green-btn-color          : #3d9b3d;
$primary-btn-color        : $shell-color;
$secondary-btn-color      :hsla(43, 63%, 38%, 1);
// $secondary-btn-color   : #117d91;
$tertiary-btn-color       : #88470a;
// $secondary-btn-color: #c6245d;
$chat-blue                : #0c83ba;
$info-blue                : #1eb5ff;

$organization-color: rgb(236, 53, 86);
$project-color     : rgb(255, 204, 102);
$challenge-color   : rgb(51, 153, 153);
$hero-color        : rgb(224, 219, 98);

$bright-gradient :  linear-gradient(to right, #e0d113, #cf7800, #e33034, #d10070, #8305ac);
$input-light: hsla(0, 0%, 80%, 0.21);
$input-dark : rgba(0, 0, 0, 0.12);

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}